@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/../fontes/idroid.otf') format('opentype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Open sans', sans-serif;
    --fonte-android: 'Android', sans-serif;
    --fonte-alternativa: 'Chakra Petch';
    --fonte-alternativa2: 'Jersey 10';
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-destaque);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 20px;
}
header h1{
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.438);
    padding: 0px 0px 10px 0px;
}
header p{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 438);
    max-width: 500px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    font-family: var(--fonte-destaque);
    padding: 0px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.233);
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 650;
    display: inline-block;
    
}
nav a:hover{
    background-color: #2fa866;
    text-decoration: underline;
    color: #063d1e;
    border-radius: 3px;
    transition-duration: .5s;
}
main{
    background-color: white;
    margin: auto;
    min-width: 280px;
    max-width: 815px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 0px 0px 10px 10px;
}
div.video{
    position: relative;
    height: 0px;
    margin: 0px -20px 15px -20px;
    padding-bottom: 59%;
}
div iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}
.historia{
    font-size: 2em;
    font-family: var(--fonte-alternativa), var(--fonte-alternativa2);
    color: var(--cor4);
}
main h2{
    font-size: 1.2em;
    font-family: var(--fonte-alternativa), var(--fonte-alternativa);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}
main strong{
    font-weight: 900;
    color: #1a5c37;
}
main a{
    background-color: #3ddc85ce;
    color: #063d1e;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 6px;
}
main a:hover{
    text-decoration: underline;
    color: #2fa866;
}
picture img{
    margin: auto;
    display: block;
    max-width: 90%;

}
.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}
aside h3{
    background-color: #1a5c37;
    color: white;
    padding: 5px;
    margin: -10px -10px 5px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside ul{
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.7em;
}
footer a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #2fa866;
}

